html, body {
	background: rgb(30, 30, 30);
	color: rgb(200, 200, 200);
}

li {
	margin-bottom: 10px;
	margin-right: 10px;
}

#top {
	background: rgb(50, 50, 50);
}

#github button {
	border: 1px solid #4da1d5 !important;
	background-image: url("GitHub_Logo_White.png");
}

#github button:hover {
	background-color: #313131;
}