html, body {
	font-family: Verdana;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

li {
	margin-bottom: 10px;
	margin-right: 10px;
}

#top {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border-bottom: 1px solid #b3c1cb;
	background: rgb(230,238,245);
	background: linear-gradient(90deg, rgba(230,238,245,0.804359243697479) 0%, rgba(216,224,230,0.804359243697479) 100%);
}

#top h2 {
	margin-bottom: 0px;
}

#top h4 {
	margin-top: 7px;
}

#top div {
	float: left;
	width: 55%;
	text-align: center;
	font-size: calc(12px + 1.5vw);
}

#top img {
	position: absolute;
	height: 80%;
	right: 5%;
	top: 9%;
	max-width: 35%;
}

#github-text {
	margin: 20px;
}

#github {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

#github button {
	border: 1px solid #4da1d5;
	border-radius: 3px;
	width: 100%;
	height: 50px;
	background-image: url("GitHub_Logo.png");
	background-color: transparent;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 90%;
}

#github button:hover {
	cursor: pointer;
	background-color: rgb(230, 234, 240);
}