html, body {
	margin: 0;
	padding: 0;
	background-color: #F7F9FA;
}

* {
	box-sizing: border-box;
}

#main {
	width: 700px;
	min-height: 400px;
	border: 1px solid lightgray;
	margin: 50px auto;
	background: #F3F3F3;

	table-layout: fixed;
	padding-top: 30px;
}

#main > h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	color: #2B2B2B;
}

#main .col {
	width: 49%;
	padding: 0;
	display: inline-block;
}

#main .col * {
	margin-top: 7px;
	margin-bottom: 7px;
}

#main .col:nth-child(1) {
	text-align: right;
	padding-right: 10px;
}

#main .col:nth-child(2) {
	text-align: left;
	padding-left: 10px;
}
