#bar, #bottom-bar, #auto-reload, #reload, #expand-content, #back, #forward, #expand, #bookmarks, #ceter, #url, #add-bookmark, #bookmarks-popup {
	background-color: #121019;
	color: #d9d9d9;
}

#bar {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#center {
	border-left: 1px solid black;
}

#bookmarks-popup .box:hover .text-box {
	background-color: gray;
}

#reload {
	background-image: url("../icons/ikooni-outline/reload_dark.png");
}

#back {
	background-image: url("../icons/ikooni-outline/back_dark.png");
}

#forward {
	background-image: url("../icons/ikooni-outline/forward_dark.png");
}

#add-bookmark {
	background-image: url("../icons/ikooni-outline/add_dark.png");
}

#expand {
	background-image: url("../icons/ikooni-outline/expand.png");
	border-left: 1px solid black;
}

#auto-reload {
	box-shadow: 0 0 4px 2px gray;
	border: 1px solid black;
}

#auto-reload .close {
	color: white;
	background: rgb(28, 36, 43);
	border: 1px solid black;
}

#auto-reload li:hover {
	color: white !important;
}

#auto-reload .clear {
	background: rgb(28, 36, 43);
}

.auto-reload-item-active {
	color: #8fc7c9;
}

#expand.mobile {
	background-color: #42874d;
}

#bookmarks {
	border-left: 1px solid black;
}

#loading {
	background-color: #09080d;
	color: #EEEEEE;
	background-image: url("../icons/load-dark.gif");
}

#bottom-bar {
	border-top: 1px solid black;
}

#bottom-bar #options {
	background-image: url("../icons/ikooni-outline/options-dark.png");
}

#bottom-bar #zoom {
	background: rgb(0, 0, 0);
}

#bottom-bar #zoom::-webkit-slider-thumb {
	background: rgb(230, 230, 230);
}

#bottom-bar #zoom-hover p {
	color: black;
}

#bottom-bar #open-in-tab {
	background: url("../icons/ikooni-outline/open_tab_dark.png");
}

#bottom-bar #open-tab-in-sidebar {
	background: url("../icons/ikooni-outline/open_tab_dark.png");
}