#reload {
	background-image: url("../icons/classic/reload.png");
	background-position: 4px 2px;
	width: 38px;
}

#reload.status-auto {
	background-image: url("../icons/classic/reload_auto.png");
}

#back {
	background-image: url("../icons/classic/back.png");
	background-position: 0px 2px;
}

#forward {
	background-image: url("../icons/classic/forward.png");
	background-position: 0px 2px;
}

#add-bookmark {
	background-image: url("../icons/classic/add.png");
	margin-top: 1px;
	position: relative;
	left: 3px;
}

#expand {
	background-image: url("../icons/classic/expand.png");
	background-position: 4px 2px;
}

#bookmarks {
	background-image: url("../icons/classic/bookmark.png");
	width: 32px;
}

#bottom-bar #options {
	background-image: url("../icons/ikooni-outline/options-classic.png");
}

#bottom-bar #open-in-tab {
	background: url("../icons/classic/open_tab.png");
	background-position: 0 -2px;
	width: 28px;
}
